{% extends 'base.html.twig' %}

{% block header_title %}
<div style="text-align:center;margin:15%;">
<h1>Organisez enfin votre travail et votre vie.</h1>
<p>Gagnez en concentration, organisation et sérénité avec Todo App. La 1ère application de gestion de tâches et de to-do list.</p>
</div>
{% endblock %}

{% block body %}

    <div class="row" style="text-align:center;">
        {% if app.user %}
            {% if not is_granted('ROLE_VIEWER') %}
                <a href="{{ path('task_create') }}" class="btn btn-success">Créer une nouvelle tâche</a>
            {% endif %}
        
            <a href="{{ path('task_list') }}" class="btn btn-info">Consulter la liste des tâches à faire</a>
            <a href="{{ path('task_list_json') }}" class="btn" style="background-color: #800080; color: white;">Consulter la liste des tâches en JSON</a>
        {% endif %}
    </div>
{% endblock %}
