{% extends 'base.html.twig' %}

{% block body %}
    <h1>Choisir le destinataire pour la tâche "{{ task.title }}"</h1>

    <form method="post" action="{{ path('task_share', {'id': task.id}) }}">
        <div class="form-group">
            <label for="viewer">Destinataire :</label>
            <select id="viewer" name="viewer" class="form-control">
                {% for user in users %}
                    <option value="{{ user.id }}">{{ user.username }}</option>
                {% endfor %}
            </select>
        </div>

        <button type="submit" class="btn btn-primary">Partager</button>
    </form>
{% endblock %}

