{% extends 'base.html.twig' %}

{% block header_title %}<h1>Créer un Viewer</h1>{% endblock %}
{% block header_img %}{% endblock %}

{% block body %}
    <div class="row">
        {{ form_start(form, {'action' : path('viewer_create',{'id' : task.id })  }) }}
            {{ form_widget(form) }}

            <button type="submit" class="btn btn-success pull-right" style="margin-top: 24px">Ajouter</button>
        {{ form_end(form) }}
    </div>
{% endblock %}
